% [
%   {outside_service, [
%       {host, <<"111.com">>},
%       {user_name, <<"111">>},
%       {password, <<"111">>}
%     ]}
% ].
[{outside_service, [
  % reloader => true/false, use_db => mongo/mysql
  {env, #{app_name => my_server, port => 1111, reloader => true, server_id => 1, use_db => mongo}},

  {ranch, [{port, 1111}, {max_connections, 6000}]},
  {db_mysql, [{size, 10}, {user, "root"}, {password, "123456"}, {host, "localhost"}, {port, 3306}, {database, "tgmmorpg"}, {encoding, utf8}]},
  {mongo, [{database, <<"test">>}, {host, "localhost"}, {port, 27017}]}
]}].


% {ok, Port} = application:get_env(outside_service, port).

% [
%   {port, 1111}, % 端口
%   {reloader, true} % 是否启用reloader
% ].